<!DOCTYPE html>
<html lang="ro">
    <head>
        <title>Natura</title>
       
        
        <meta name="keywords" content="plante, copaci, flori, fructe, legume, arbusti, pomi">
        <meta name="description" content="Tot felul de plante">
        
        
        <%-include("../fragmente/head.ejs")%>
        

    </head>
    <body>
        
    <%- include("../fragmente/header.ejs");  %> 

    <main>
        <div id="err-coloane">
			<div id="err-imag">
				<img src="<%- locals.imagine %>" />
			</div>
			<section>
				<h2><%- locals.titlu %></h2>
				<p><%- locals.text %></p>
			</section>
		</div>
    </main>
    
    <%- include("../fragmente/footer.ejs");  %> 


    </body>
</html>